project_name = "cloudinfra"
location     = "norwayeast"
environment  = "dev"
app_image    = "docker.io/nafiulhamim/dat515-app"
app_version  = "latest"

db_name = "webapp"
db_user = "webuser"

# Leave these two blank to auto-generate random passwords (recommended):
db_password      = ""
db_root_password = ""
